/* Checkbox */

input[type=checkbox]:checked {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

/* Custom Scrollbar */

/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(151, 147, 147);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(118, 125, 133);
}