.visual_card {
    margin: 5px;
    width: 35rem;
    height: 40rem;
    border: none;
    overflow: auto;
}

.customChart_card {
    margin: 5px;
    width: 80rem;
    height: 50rem;
    border: none;
    overflow: auto;
}