body {
    background-color: bisque;
}

.visual_card {
    margin: 5px;
    width: 35rem;
    height: 30rem;
    border: none;
    overflow: auto;
}

.customChart_card {
    margin: 5px;
    width: auto;
    height: auto;
    border: none;
    overflow: auto;
}

/* Heatmap */